@use '../utilities/mixins';
@use '../utilities/variables';

/*----------↓↓ INICIO ↓↓ ----------*/
@keyframes efect-disco {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.content-inicio {
    @include mixins.flex(row, space-between, center);
    flex-wrap: wrap;
    background-color: rgba(31, 3, 59, 0.7);
    backdrop-filter: blur(2px);
    box-shadow: variables.$main-degradado;
    border: 6px solid #6C043C;
    border-radius: 40px;
    margin: 70px 40px 70px 40px;
    height: 530px;
    padding: 0px 30px;

    .img-inicio {
        @include mixins.img-style(null, 100%, 600px, cover, 1000px);
        display: flex;
        max-width: 600px;
        flex-wrap: wrap;
        border: 6px solid #6C043C;
        box-shadow: 0 0 20px #640354, 0 0 10px rgb(248, 7, 236);
        margin-top: -50px;
        margin-bottom: -50px;

        &:hover {
            animation-name: efect-disco;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
        }
    }

    .title-paragraph-inicio {
        @include mixins.flex(column, null, null);
        @include mixins.width-height(1100px, null);
        padding-left: 30px;
        text-align: start;
        gap: 10px;
    }
}

/*----------↑↑ INICIO ↑↑----------*/

@media (max-width: 375px) {
    .content-inicio {
        @include mixins.width-height(95%, auto);
        margin: 5px 0 5px 0;
        justify-content: center;
        text-align: center;

        .title-paragraph-inicio {
            justify-content: center;
            text-align: center;
            padding: 5px;
        }

        .img-inicio {
            @include mixins.img-style(null, 100%, 290px, null, 50%);
            display: block;
            max-width: 100%;
            border: 4px solid #6C043C;
            margin: 5px 0 5px 0;
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .content-inicio {
        @include mixins.width-height(370px, auto);
        margin: 10px 0 10px 0;

        .title-paragraph-inicio {

            h2 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }
        }

        .img-inicio {
            @include mixins.img-style(null, 295px, 295px, null, 50%);
            margin: 5px;
            border: 4px solid #6C043C;
        }
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .content-inicio {
        @include mixins.flex(null, center, center);
        @include mixins.width-height(600px, auto);
        margin: 15px 0 15px 0;

        .title-paragraph-inicio {
            @include mixins.flex(null, center, center);
            padding: 5px;
        }

        .img-inicio {
            @include mixins.img-style(null, 400px, 400px, null, 3000px);
        }
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .content-inicio {
        @include mixins.flex(null, center, null);

        .title-paragraph-inicio {
            justify-content: center;
            text-align: center;
        }

        .img-inicio {
            margin: 5px;
        }
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    .content-inicio {
        @include mixins.flex(null, center, null);
        @include mixins.width-height(900px, auto);
        margin: 20px 0 20px 0;

        .title-paragraph-inicio {
            justify-content: center;
            text-align: center;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .content-inicio {
        @include mixins.flex(null, space-around, null);
        width: 1200px;
        height: auto;
        margin: 20px 0 20px 0;

        .title-paragraph-inicio {
            justify-content: center;
            text-align: center;
            width: 600px;
        }

        .img-inicio {
            @include mixins.img-style (null, 500px, 500px, null, 3000px);

        }
    }
}