@use '../utilities/mixins';
@use '../utilities/extend';
.contenedor-tye { /*----------↓↓ TECNICAS Y ESTILOS ↓↓----------*/
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .cont-img-tye {
        @include mixins.flex(null, flex-start, center);
        object-fit: cover;
        border: 6px solid #6C043C;
        background-color: #fae7f0;
        border-radius: 30px;
        padding: 10px;
        margin: 20px;
        width: 900px;

        .imgs-tec-esti {
            @include mixins.width-height(230px, 230px);
            object-fit: cover;
            border-radius: 30px;
        }
        .imgs-tye-pies {
            @include mixins.width-height(280px, 240px);
            object-fit: cover;
            border-radius: 30px;
        }

        .ol-tye {
            @include mixins.flex(column, center, center);
            margin-left: 20px;
            padding: 10px;
            gap: 10px;
            width: 0 auto;
            height: 0 auto;
        }

    } 
} /*----------↑↑ TECNICAS Y ESTILOS ↑↑----------*/


.content-principal-servicios { /*-----------↓↓ SERVICIOS ↓↓----------*/
    @include mixins.flex(row, center, null);
    gap: 100px;
    margin-bottom: 30px;

    .content-uñas-rojas {
        @include mixins.flex(column, null, center);
        border: 6px solid #4A1C2C;
        border-radius: 30px;
        width: 100%;
        max-width: 800px;
        padding: 10px;
         &:hover {
            transform: scale(1.01);  /* agranda al pasar el puntero */
            transition: 0.3s;
            background-image: linear-gradient(to bottom, #F7F0EB, #f7dfce);
        }
        .img-servicios-manos {
            @include mixins.width-height(750px, 460px);
            border-radius: 30px;
        }  
    }
        .content-pies {
            @include mixins.flex(column, null, center);
            border: 6px solid #4A1C2C;
            border-radius: 30px;
            width: 100%;
            max-width: 800px;
            padding: 10px;
             &:hover {
                transform: scale(1.01);  /* agranda al pasar el puntero */
                transition: 0.3s;
                background-image: linear-gradient(to bottom, #F7F0EB, #f7dfce);
            }
            .img-servicios-pies {
                @include mixins.width-height(750px, 460px);
                border-radius: 30px;
            } 
        }
}  /*-----------↑↑ SERVICIOS ↑↑----------*/
  


.contenedor-nt {   /*----------↓↓ NUESTROS TRABAJOS ↓↓----------*/
    @include mixins.flex(row,space-between, null);
    margin-bottom: 10px;
        .contenedor-principal-imgs { 
            display: grid;
            grid-template-columns: 350px 300px 300px;
            grid-template-rows: 300px 300px;
            grid-template-areas: 
                "img-grande1 img-chica1 img-chica2"
                "img-grande1 img-chica3 img-chica4";
            gap: 10px;
            padding: 5px;
            margin: 19px;
            border: 5px solid #6C043C;
            border-radius: 30px;
            &:hover {
                transition: 0.3s;
                background-color: #f1d8c6;
            }
            .img-chica1 {
                grid-area: img-chica1;
            }
            .img-chica2 {
                grid-area: img-chica2;
            }
            .img-chica3 {
                grid-area: img-chica3;
            }
            .img-chica4 {
                grid-area: img-chica4;
            }
            .img-grande1 {
                grid-area: img-grande1;
            }    
            .imagenes-chicas3, .imagenes-chicas2, .imagenes-chicas1, .imagenes-chicas4 {
                @include mixins.img-style(0.2s, 100%, 100%, cover, 30px);
                
                &:hover {
                    transform: scale(1.06);  /* agranda al pasar el puntero */
                    transition: 0.5s;
                }
                &:active {
                    transform: scale(0.95); /*achica al click */
                }
            }
            .imagen-grande {
                @include mixins.img-style(0.2s, 100%, 100%, cover, 30px);
                  &:hover {
                    transform: scale(1.04);
                    transition: 0.5s;
                }
                &:active {
                    transform: scale(0.95); 
                }
            }
            
        }

} /*----------↑↑ NUESTROS TRABAJOS ↑↑----------*/


