@use '../utilities/mixins';

.h2-formulario { /*---------- ↓↓ FORMULARIO ↓↓ ----------*/
    text-align: center;
}
.formulario { 
    @include mixins.flex (row, space-around, center);
    margin: 30px;

        .content-de-contacto {
            @include mixins.flex (column, center, center);

            form {
                @include mixins.flex (column, center, null);
                width: 100%;
                max-width: 350px;
                height: 300px;
                margin: 20px;
                gap: 10px;

                .contenedor-label {
                    @include mixins.flex (row, null, null);
                    width: 100%;
                    max-width: 350px;

                    label {
                        font-size: 20px;
                        margin: 10px;
                        width: 150px; 
                            
                        textarea {
                            width: 300px;
                            height: 100px;
                        }
                    }    
                }
                .boton-enviar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #F7F0EB;
                    border-radius: 10px;
                    font-size: 15px;
                    background-color: #883b64;
                    height: 30px;
                    cursor: pointer;
                    &:hover {
                        transition: 0.40s;
                        background-color: #bb5e90;
                        color: black;
                        transform: scale(1.06);  /* agranda al pasar el puntero */
                    }
                }
                
            }
            .p-formulario {
                display: flex;
                width: 500px;
                text-align: center;
            } 
            
        } 
}
.mapa {
    border: 5px solid #6C043C;
    padding: 5px;
    width: 1000px;
    height: 100%;
    max-height: 900px;
    border-radius: 30px;

    iframe {
        width: 100%;
        max-width: 1000px;
        height: 550px;
        border-radius: 30px;
    }
} /*---------- ↑↑ FORMULARIO ↑↑ ----------*/


 