@use '../utilities/mixins';
@use '../utilities/variables';

/*---------- ↓↓ FORMULARIO ↓↓ ----------*/
.h2-formulario {
    text-align: center;
}

.presentación-formulario {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        margin: 5px;
    }
}

.formulario {
    @include mixins.flex (row, space-around, center);
    margin: 30px;

    .content-de-contacto {
        @include mixins.flex (column, center, center);

        form {
            @include mixins.flex (column, center, null);
            @include mixins.width-height(350px, 300px);
            margin: 20px;
            gap: 10px;

            .contenedor-label {
                @include mixins.flex (row, null, null);
                @include mixins.width-height(350px, null);

                label {
                    color: #E8D5F5;
                    font-size: 20px;
                    margin: 10px;
                    width: 150px;

                    textarea {
                        width: 300px;
                        height: 100px;
                    }
                }
            }

            .boton-enviar {
                @include mixins.flex(null, center, center);
                color: #F7F0EB;
                border-radius: 10px;
                font-size: 15px;
                background-color: rgba(107, 30, 184, 0.7);
                height: 30px;
                cursor: pointer;

                &:hover {
                    transition: 0.40s;
                    background-color: #640354;
                    transform: scale(1.06);
                    /* agranda al pasar el puntero */
                }
            }
        }

        .p-formulario {
            display: flex;
            width: 500px;
            text-align: center;
            color: #E8D5F5;
        }

    }
}

.mapa {
    @include mixins.width-height(1000px, 100%);
    box-shadow: variables.$main-degradado;
    border: 5px solid #6C043C;
    padding: 5px;
    max-height: 900px;
    border-radius: 30px;

    iframe {
        @include mixins.width-height(1000px, 550px);
        border-radius: 30px;
    }
}

/*---------- ↑↑ FORMULARIO ↑↑ ----------*/

@media (max-width: 375px) {
    h2 {
        margin-top: 5px;
    }

    .formulario {
        flex-direction: column;
        width: 100%;
        max-width: 360px;

        .content-de-contacto {
            width: 100%;
            max-width: 360px;
            padding: 10px;

            .p-formulario {
                width: 100%;
            }
        }
    }

    .mapa {
        @include mixins.flex(null, center, center);
        @include mixins.width-height(350px, 350px);
        padding: 5px;
        border-radius: 20px;

        iframe {
            @include mixins.width-height(null, 100%);
            margin: 5px;
            border-radius: 20px;
        }
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .formulario {
        flex-direction: column;

        .content-de-contacto {
            width: 500px;
            padding: 10px;
        }
    }

    .mapa {
        @include mixins.width-height(360px, 400px);
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .formulario {
        flex-direction: column;
        align-items: center;

        .content-de-contacto {
            width: 500px;
        }
    }

    .mapa {
        @include mixins.width-height(730px, 500px);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .formulario {

        .content-de-contacto {
            padding: 10px;

            .p-formulario {
                width: 100%;

            }
        }
    }

    .mapa {
        max-width: 800px;
        height: 550px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .formulario {
        .content-de-contacto {
            padding: 10px;
        }
    }

    .mapa {
        width: 850px;
        height: 550px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .formulario {
        flex-direction: row;
        align-items: center;

        .content-de-contacto {
            padding: 10px;
        }
    }

    .mapa {
        width: 700px;
        height: 550px;

        iframe {
            @include mixins.width-height(null, 100%);
        }
    }
}