@use '../utilities/mixins';
@use '../utilities/extend';

/*----------↓↓ NUESTROS TRABAJOS ↓↓----------*/
.texto-tecnicas {  
    @include mixins.flex(column, center, center);
    text-align: center;
    @include mixins.width-height(650px, 600px);
    margin: 30px auto 0 auto;
    padding: 30px;
    gap: 20px;
} 
.guia-tecnica {
    gap: 10px;
    .p-tecnica {
        text-align: center;
        margin: 0 4px 0 4px;
    }
    .ul-tecnica {
        @include mixins.flex(column, center, center);
        padding-left: 0;
        margin-left: 0;
        gap: 8px;
        li {
            margin: 0 3px 0 3px;
            text-align: center;
            list-style: none;
            padding: 8px;
            border-radius: 10px;
            border-left: 4px solid #4A1C2C;
            border-right: 4px solid #4A1C2C;
            font-size: 18px;
        }
    }
}
/*----------↑↑ NUESTROS TRABAJOS ↑↑----------*/


