//aca va la tipografia//
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*fuente Playfair Display*/
 /*font-family: "Playfair Display", serif;*/
body {
    background-color: #F7F0EB;
    font-family: "Playfair Display", serif;
 }