@use './mixins';
%h1-general {
    font-weight: 700;
}
%h2-general {
    font-size: 30px;
}

%nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

  ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    gap: 5px;
  }
}

%footer-base {
    @include mixins.flex(null, center, center);
    width: 100%;
    padding: 5px;
    gap: 10px;
}