@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align; 
}

@mixin img-style ($transition, $width, $height, $fit, $radius){
    transition: $transition; 
    width: $width;
    height: $height;
    object-fit: $fit;
    border-radius: $radius;
}

@mixin width-height ($max, $height) {
    width: 100%;
    max-width: $max;
    height: $height;
}

