* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*fuente Playfair Display*/
 /*font-family: "Playfair Display", serif;*/

html, body {
    background-color: #F7F0EB;
    font-family: "Playfair Display", serif;
}
.logo {
    width: 100%;
    max-width: 150px;
    height: 90px;
}
/*Titulos*/
h1 {
    text-align: center;
    font-size: 50px;
    color: #790543;
    margin: 10px;
}
h2 {
    font-size: 35px;
}
/*párrafos*/
p {
    font-size: 25px;
    font-weight: 500;
}

.container-fluid { /*----------↓↓ HEADER ↓↓----------*/
    display: flex;
    margin-top: 0;
    background-color: #B690A1;
    font-size: 20px;
    border-bottom: 3px solid #6C043C;
}
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 ;
    padding: 0 ;
}
.nav-link {
    color: #4A1C2C;
}
.navbar-svg {
    width: 35px;
    height: 35px;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}
.navbar .nav-link:active, .navbar .nav-link:hover{
    display: inline-block;
    transition: 0.1s;
    color: #6e0129;
    transform: scale(1.1);
}
.navbar {
  padding: 0;
}
.navbar .nav-link.active {
    color: #960037;
}
 /*----------↑↑ HEADER ↑↑----------*/


.content-inicio { /*----------↓↓ INICIO ↓↓ ----------*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 6px solid #6C043C;
    border-radius: 40px;
    margin: 40px;
    height: 530px;
    padding: 0px 30px;
}
.img-inicio {
    display: flex;
    width: 100%;
    max-width: 600px;
    height:600px;
    flex-wrap: wrap;
    border: 6px solid #6C043C;
    border-radius: 1000px;
    margin-top: -50px;
    margin-bottom: -50px; 
    object-fit: cover;
}
.title-paragraph-inicio {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 100%;
    max-width: 1100px;
    text-align: start;
    gap: 10px;

} /*----------↑↑ INICIO ↑↑----------*/




.contenedor-nt {   /*----------↓↓ NUESTROS TRABAJOS ↓↓----------*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px; 
}
.contenedor-principal-imgs { 
    display: grid;
    grid-template-columns: 350px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-template-areas: 
        "img-grande1 img-chica1 img-chica2"
        "img-grande1 img-chica3 img-chica4";
    gap: 10px;
    padding: 5px;
    margin: 19px;
    border: 5px solid #6C043C;
    border-radius: 30px;
}
.contenedor-principal-imgs:hover {
    transition: 0.3s;
    background-color: #f1d8c6;
}
.img-chica1 {
    grid-area: img-chica1;
}
.img-chica2 {
    grid-area: img-chica2;
}
.img-chica3 {
    grid-area: img-chica3;
}
.img-chica4 {
    grid-area: img-chica4;
}
.img-grande1 {
    grid-area: img-grande1;
}
.imagenes-chicas3, .imagenes-chicas2, .imagenes-chicas1, .imagenes-chicas4 {
    transition:  0.2s; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.imagen-grande {
    transition:  0.2s; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;;
}
.texto-tecnicas {  
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 100%;
    max-width: 650px;
    margin-left: 130px;
    padding: 30px;
    gap: 30px;
}

.imagenes-chicas4:hover, .imagenes-chicas1:hover, .imagenes-chicas2:hover, .imagenes-chicas3:hover, .imagen-grande:hover {/* agranda al pasar el puntero */
  transform: scale(1.06); 
}
.imagenes-chicas4:active, .imagenes-chicas1:active, .imagenes-chicas2:active, .imagenes-chicas3:active, .imagen-grande:active {/* achica al click */
  transform: scale(0.95); 
}
@media (max-width: 450px) {  /*media query mobile*/
    .contenedor-nt {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;   
        gap: 0;   
        width: 100%;
    }
    .contenedor-principal-imgs {
        margin: 0 auto;
        justify-content: center;
        grid-template-columns: 150px 110px 110px;
        grid-template-rows: 170px 170px;
        margin-top: 0;
    } 
    .texto-tecnicas {   
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 95%;
        height: auto;
        font-size: 25;
        gap: 10px;
    }
    header nav { /*↓↓nav↓↓*/
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav {
        width: 100%;
        height: auto;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    nav ul {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        gap: 10px;
    }
    .linck-nav {
        font-size: 13px;
    }            /*↑↑nav↑↑*/
    h1 { 
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    .logo {
        width: 110px;
        height: 80px;
        align-items: center;
    }
    body footer {
        display: flex;
        width: 430px;
        flex-direction: row;
    }
    footer .p-footer {
        font-size: 15px;
        text-align: center;
        margin-bottom: 0;
    }
    footer .container-footer {
        align-items: center;
        justify-content: space-between;
        width: 430px;
        height: 50px;
        gap: 5px; 
        padding: 3px;
    }
}  /*----------↑↑ NUESTROS TRABAJOS ↑↑----------*/

 

.contenedor-tye { /*----------↓↓ TECNICAS Y ESTILOS ↓↓----------*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ol-tye {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 10px;
    gap: 10px;
    width: 0 auto;
    height: 0 auto;
}
.imgs-tec-esti {
    width: 100%;
    max-width: 200px;
    height: 210px;
    object-fit: cover;
    border-radius: 30px;
}
.imgs-tye-pies {
    width: 100%;
    max-width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}
.cont-img-tye {
    display: flex;
    object-fit: cover;
    justify-content: flex-start;
    flex-direction: row;
    border: 6px solid #6C043C;
    background-color: #f1d8c6;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    object-fit: cover;
}





.content-principal-servicios { /*-----------↓↓ SERVICIOS ↓↓----------*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-bottom: 30px;
}
.content-uñas-rojas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #4A1C2C;
    border-radius: 30px;
    width: 100%;
    max-width: 800px;
    padding: 10px;
}
.content-pies {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #4A1C2C;
    border-radius: 30px;
    width: 100%;
    max-width: 800px;
    padding: 10px;
    
}
.img-servicios-manos {
    max-width: 100%;
    width: 800px;
    height: 500px;
    border-radius: 30px;
}
.img-servicios-pies {
    max-width: 100%;
    width: 800px;
    height: 500px;
    border-radius: 30px;
}    /*-----------↓↓ SERVICIOS ↓↓----------*/


footer { /*----------↓↓ FOOTER ↓↓----------*/
    display: flex;
    flex-wrap: wrap;
    background-color: #B690A1;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    border-radius: 80px;
    padding-top: 5px;   
}
.container-img-footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    gap: 10px;
}
.imgs-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 60px;
}
.imgs-footer:hover {
    transform: scale(1.06);
}
.p-footer {
    font-size: 20px;
    color: #6C043C;
}
.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
} /*-----------↑↑ FOOTER ↑↑----------*/








